<div class="about-main">
  <h2>朝顔日記とは</h2>
  <p>
    2018年の夏は「平成最後」ともてはやされた季節だった。
    そんな季節、手塩にかけて育てた朝顔の生長を記録したブログです。
    2018年7月に苗を買い、8、9月に咲かせ11月に種を収穫しました。
    このページを作成したのは2019年「令和最初」の5月です。
  </p>
  <img class="about-img" src="/tweets.png">
</div>
